:root {
    --primary-color: #0d80d2;
    --secondary-color: #c9a61a;
    --section-gray-color: #7e847f;
    --accent-color: #5155a3;
    --section-bgr-color: #e8e8e8;
    --table-header-color: #ffffff;
    --btn-accent-color: #5f6560;
}