.header {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 300px;
    position: relative;
    text-align: center;
}

.input {
    border: none;
    padding-left: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    color: var(--secondary-color);
    border-radius: 12px;
    width: 75%;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    outline: none;
    margin: 0 auto;
}

.input::placeholder {
    color: var(--accent-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
}

.icon {
    color: var(--accent-color);
    width: 20px;
    height: 20px;
}

.button {
    border: none;
    position: absolute;
    background-color: inherit;
    left: 12px;
    top: 55%;
    transform: translateY(-50%);
    padding-left: 10px;
}

.toaster {
    background-color: #e67373;
    color: var(--primary-color);
}